<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon.png"
    />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/forms.css" />
    <link rel="stylesheet" href="/style/auth.css" />
    <title><%= pageTitle%></title>
  </head>
  <body>
    <%- include('../layouts/header.ejs') %>
    <main>
      <% if(errorMessage) { %>
      <div class="message error-message"><%=errorMessage%></div>
      <% } %>
      <form class="auth-form" action="/new-password" method="post">
        <div class="form-control">
          <label for="password">新密碼 : </label>
          <input type="password" name="newPassword" id="password" />
        </div>
        <input type="hidden" name="userId" value="<%=userId %>" />
        <input type="hidden" name="passwordToken" value="<%=passwordToken %>" />
        <input type="hidden" name="_csrf" value="<%=token %>" />
        <button type="submit" class="btn">重置密碼</button>
      </form>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
