<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon.png"
    />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/forms.css" />
    <link rel="stylesheet" href="/style/auth.css" />
    <title><%= pageTitle%></title>
  </head>
  <body>
    <%- include('../layouts/header.ejs') %>
    <main>
      <% if(errorMessage) { %>
      <div class="message error-message"><%=errorMessage%></div>
      <% } %>
      <form class="auth-form" action="/signup" method="post" novalidate>
        <div class="form-control">
          <label for="email">電子信箱(帳號) : </label>
          <input
            class="<%=validationErrors.find(e=> e.param === 'email') ? 'invalid' : '' %>"
            type="email"
            name="email"
            id="email"
            value="<%=oldInput.email%>"
          />
        </div>

        <div class="form-control">
          <label for="password">密碼 : </label>
          <input
            class="<%=validationErrors.find(e=> e.param === 'password') ? 'invalid' : '' %>"
            type="password"
            name="password"
            id="password"
            value="<%=oldInput.password%>"
          />
        </div>

        <div class="form-control">
          <label for="confirmPassword">確認密碼 : </label>
          <input
            class="<%=validationErrors.find(e=> e.param === 'confirmPassword') ? 'invalid' : '' %>"
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            value="<%=oldInput.confirmPassword%>"
          />
        </div>
        <input type="hidden" name="_csrf" value="<%=token %>" />
        <button type="submit" class="btn">提交</button>
      </form>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
