<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon.png"
    />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/productDetail.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../layouts/header.ejs') %>
    <main class="center">
      <h1><%= product.title %></h1>
      <hr />
      <div class="img-container">
        <img
          class="product-img"
          src="/<%=product.imgUrl%>"
          alt="<%= product.title  %> "
        />
      </div>
      <h2><%= product.price %>元</h2>
      <p><%= product.description %></p>
      <% if(isAuthenticated) {%>
      <div class="card__actions"><%-include('../layouts/cart.ejs') %></div>
      <% } %>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
